#
# Standard Java .gitignore
#
*.class
*.jar
*.war

#
# Standard Maven .gitignore
#
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

#
# IntelliJ
#
*.iml
.idea/*
!.idea/runConfigurations/

#
# Visual Studio Code
#
.settings/
.classpath
.factorypath
.project
.vscode/

#
# Secret files, API keys...
#
secret/
# secret.cnf # useful, not sensitive for now.

# Frontend things:
package-lock.json
Frontend/node_modules/**/*
Frontend/.expo/*
Frontend/npm-debug.*
Frontend/*.jks
Frontend/*.p8
Frontend/*.p12
Frontend/*.key
Frontend/*.mobileprovision
Frontend/*.orig.*
Frontend/web-build/

# macOS
.DS_Store

# Database:
.data/
